{% extends 'base.html' %}

{% block head %}
<title>Task Master</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Update Task</h1>

    <div class="form">
        <form action="/update/{{task.0.0}}" method="POST">
            <label for="id" class="form-label">Task id:</label>
            <input type="text" class="form-control" readonly value="{{task.0.0}}" name="id" id="id">
            
            <label for="description" class="form-label">Task Description:</label>
            <input type="text" class="form-control" value="{{task.0.1}}" name="description" id="description">
            <label for="state" class="form-label">Task State:</label>
            <input type="text" class="form-control" value="{{task.0.2}}" name="state" id="state">
            <input type="submit" class="btn btn-primary" value="Update">
        </form>
    </div>
</div>
{% endblock %}